<div>

    <form #form =ngForm (ngSubmit) ="addUser(form)">
  
  <br>
    <label for="name">Name </label><br>
    <input  [(ngModel)]="newUser.name" name="name" required type="text">
    <span *ngIf="form.form.controls['name']?.touched && ! form.form.controls['name']?.valid" class="error"> this field is required </span><br>
  <br>
  
    
    <label for="age">Age</label><br>
    <input [(ngModel)]="newUser.age" name="age" type="number" ><br>
  <br>
    <button type="submit"> Add</button>
  </form>
  </div>
  
  <br>
  
  <div class="center">
  <table border="2" >
    
    <thead>
      <tr>
     <th>   id  </th> 
     <th>  Name   </th> 
     <th>   Age  </th> 
    </tr>
    </thead>
  
    <tbody>
  <tr *ngFor="let user of UserList ; let i = index">
    <td>
      {{i}}
    </td>
    <td>
      {{user.name}}
    </td>
    <td>
      {{user.age}}
    </td>
   
    <td><button (click)="deleteUser(user)">Delete</button></td>
  </tr>
    </tbody>
  </table>
  
  </div>